header {
    background-color: white;
    border-bottom: 1px solid #CCCCCC;
    height: 70px;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
    padding-left: 20px;
}